<ul class="nav main-nav">
  <li><a href="/docs/">Documentation</a></li>
  <li><a href="#help">Help</a></li>
  <li><a href="https://github.com/cjohansen/Sinon.JS/issues">Issues</a></li>
  <li><a href="https://github.com/cjohansen/Sinon.JS">Source code</a></li>
  <li><strong>Download</strong></li>
</ul>
<div class="docs">
  <div class="download section">
    <div class="content">
      <div class="download-link-placeholder"/>
      <h3>Stand-alone fake XHR/server</h3>
      <ul>
        <li><a href="../releases/sinon-server-${current-version}.js">sinon-server-${current-version}</a></lI>
        <li><a href="../releases/sinon-ie-${current-version}.js">sinon-ie-${current-version}</a></lI>
      </ul>
      <h3>Stand-alone fake timers</h3>
      <p>Now available standalone through the <a href="https://github.com/sinonjs/lolex">lolex</a> project.</p>
      <p>Install through NPM (npm install lolex) or download it <a href="https://rawgit.com/sinonjs/lolex/master/lolex.js">raw</a></p>
      <h3>Old versions</h3>
      <ul class="old-versions"></ul>
    </div>
  </div>
</div>
